<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off">
  <targets>
    <target
      Name="ColoredConsole"
      Type="ColoredConsole"
      useDefaultRowHighlightingRules="false"
      Layout="${logger:shortName=true} [${level:uppercase=true}] - ${longdate} - ${message} ${exception:format=toString}">
      <highlight-row condition="level == LogLevel.Trace" foregroundColor="DarkGray"/>
      <highlight-row condition="level == LogLevel.Debug" foregroundColor="Gray"/>
      <highlight-row condition="level == LogLevel.Info" foregroundColor="Green"/>
      <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow"/>
      <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
      <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red"/>
    </target>
    <target name="null" type="null" />
  </targets>
  <rules>
    <logger name="MediaServer.Api.*" minLevel="Info" final="true" writeTo="ColoredConsole"/>
    <logger name="MediaServer.Api.*" minLevel="Trace" final="true" writeTo="null"/>
    <logger name="*" minLevel="Trace" writeTo="ColoredConsole" />
  </rules>
</nlog>